body {
    background-color: #F5F5F5;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%,
            transparent 75%, rgba(255, 255, 255, 0.4) 75%), linear-gradient(45deg,
            rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%);
    background-size: 20px 20px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    justify-content: center;
    display: flex;
    align-items: center;
}

header {
    position: relative;
    width: auto;
    height: 100px;
    margin: 10px;
}

.contenedor {
    position: relative;
    background-color: #FFDDBB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    top: 50px;
    width: 500px;
    height: 440px;
}

.caja-titulo {
    position: absolute;
    height: 100px;
    left: 20px;
    top: 10px;
    right: 20px;
    background-color: rgb(239, 187, 187);
    border-radius: 15px;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    max-width: 1200px;
}

.titulo {
    height: 80px;
    width: auto;
    max-width: 1200px;
    top: 10px;
    left: 10px;
    right: 10px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(83, 211, 190);
    position: absolute;
    color: white;
    display: grid;
    align-items: center;
    font-size: 40px;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

main {
    position: relative;
}

.caja-usuario {
    position: absolute;
    height: 80px;
    background-color: rgb(239, 187, 187);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    max-width: 1200px;
    top: 20px;
    left: 20px;
    right: 20px;
}
.usuario{
    height: 60px;
    width: auto;
    max-width: 1200px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(83, 211, 190);
    position: absolute;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    left: 10px;
    right: 10px;
    top: 10px;
    color: white;
}

.caja-password {
    position: absolute;
    height: 80px;
    background-color: rgb(239, 187, 187);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    max-width: 1200px;
    top: 120px;
    left: 20px;
    right: 20px;
}
.caja-usuario, .caja-password {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.password{
    height: 60px;
    width: auto;
    max-width: 1200px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(83, 211, 190);
    position: absolute;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    left: 10px;
    right: 10px;
    top: 10px;
    color: white;  
}

.caja-olvido{
    position: absolute;
    height: 60px;
    background-color: rgb(239, 187, 187);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 10px;
    max-width: 1200px;
    top: 220px;
    left: 20px;
    min-width: 260px;
}
.olvido{
    height: 60px;
    width: auto;
    max-width: 1200px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(83, 211, 190);
    position: absolute;
    display: grid;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    left: 10px;
    right: 10px;
    top: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    justify-content: center;
    color: white; 
    border: none;

}
.caja-acceder {
    position: absolute;
    height: 60px;
    background-color: rgb(239, 187, 187);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 10px;
    max-width: 1200px;
    top: 220px;
    right: 20px;
    min-width: 120px;
}
.acceder {
    height: 60px;
    width: auto;
    max-width: 1200px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(83, 211, 190);
    position: absolute;
    display: grid;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    left: 10px;
    right: 10px;
    top: 10px;
    color: white;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    justify-content: center;
}
label{
    position: absolute;
    top:0;
    left: 10px;
    padding: 10px 0;
    font-size: 18px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
input{
    position: absolute;
    width: auto;
    right: 50px;
    padding: 10px 0;
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
